---
layout: layout.njk
---
<br>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <h1 class="display-5 fw-bold">> whoami</h1>
        <p class="col-md-8 fs-4"><i class="bi bi-person-fill"></i> Joe Abbate</p>
        <p class="col-md-8 fs-4"><i class="bi bi-house-fill"></i> Seaford, NY (Long Island Area)</p>
        <p class="col-md-8 fs-4"><i class="bi bi-mortarboard-fill"></i> RIT Computing Security BS 2024
        </p>
        <p class="col-md-8 fs-4"><i class="bi bi-building-fill"></i> Citadel - Information Security Engineering Intern</p>
      </div>
      <div class="col-md-6">
        <div class="float-right"><img src="/assets/img/brandreth.jpg" class="rounded-circle" style="width:100%;height:auto;"></div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="p-5 mb-4 bg-dark text-light rounded-3">
  <div class="container-fluid py-5">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <h1 class="display-5 fw-bold">Experience</h1>
        <p class="col-md-8 fs-4">Citadel | Information Security Engineering Intern | May 2024 - August 2024</p>
        <p class="col-md-8 fs-4">MITRE | Cyber Operations Intern | May 2023 - August 2023</p>
        <p class="col-md-8 fs-4">Rochester Institute of Technology - Department of Computing Security | Teaching
          Assistant | Jan 2022 - May 2024</p>
        <ul>
          <li>CSEC 140 - Introduction to Cybersecurity</li>
          <li>CSEC 201 - Programming for Information Security</li>
          <li>CSEC 380 - Principles of Web Application Security</li>
        </ul>
        <p class="col-md-8 fs-4">Rochester Institute of Technology - Department of Software Engineering | Office
          Assistant | Sept 2021 - Jan 2022</p>
        <p class="col-md-8 fs-4">New York State Parks, Recreation and Historic Preservation | Revenue Foreman |
          Summer 2020, 2021, 2022</p>
      </div>
      <div class="col-md-6">
        <div class="float-right text-center"><img src="/assets/img/mitre.png" class="rounded" style="width:100%;height:auto;"></div>
        <div class="float-right text-center"><img src="/assets/img/citadel.jpg" class="rounded" style="width:100%;height:auto;"></div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="p-5 mb-4 bg-light text-dark rounded-3">
  <div class="container-fluid py-5">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <h1 class="display-5 fw-bold">Skills</h1>
        <p class="col-md-8 fs-4">Programming Languages: Python, Rust, Go, C, C++, MIPS/x86 Assembly, Java, Javascript, PHP</p>
        <p class="col-md-8 fs-4">Technologies: Git, Docker, Proxmox VE, S3, Kubernetes, OKD, FreeIPA, Ceph, Ansible, Puppet, Github CI/CD, Metasploit, Wireshark, SQL, MongoDB</p>
      </div>
      <div class="col-md-6">
        <div class="float-right text-center"><img src="/assets/img/ferris.png" class="rounded" style="width:100%;height:auto;">
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="p-5 mb-4 bg-dark text-white rounded-3">
  <div class="container-fluid py-5">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <h1 class="display-5 fw-bold">Extracurriculars</h1>
        <p class="col-md-8 fs-4">Computer Science House - Lead Systems Administrator, Evaluations Director - <a
            href="https://csh.rit.edu" class="text-white">csh.rit.edu</a></p>
        <p class="col-md-8 fs-4">RITSEC - CTF Infrastructure Lead, Red Team Member - <a href="https://ritsec.club"
            class="text-white">ritsec.club</a></p>
        <p class="col-md-8 fs-4">RIT Pep Band - Tenor Saxophone, Baritone Saxophone</p>
        <p class="col-md-8 fs-4">FIRST Robotics Team Mentor - FRC 4567, FTC 16145, FTC 22942</p>
      </div>
      <div class="col-md-6">
        <div class="float-right text-center"><img src="/assets/img/band.png" class="rounded" style="width:100%;height:auto;">
        </div>
      </div>
    </div>
  </div>
</div>
