---
title: IRSec Winner!
description: Chom
date: 2022-11-07
---
<div>
  <h2>
    <a class="text-dark" href="https://irsec.club">
      {{ title }}
    </a>
  </h2>
  <p>November 7, 2022</p>
  <p>This past weekend, I competed in RITSEC's IRSEC Competition. The competition was a Red vs Blue format,
    where my team and I had to defend a variety of systems from malicious attacks on our services. Alongside
    this there were a variety of "injects" to complete and a final Incident Response report. As one of the two
    Linux members and the pfSense member of the team, I am happy to say that we won and will be competing at
    ISTS in the Spring!</p>
  <div class="float-right"><img src="/assets/img/irsec.jpeg" style="width:100%;height:auto;"></div>
</div>