---
title: Light
description: Chom
date: 2022-01-19
---
<div>
  <h2>
    <a class="text-dark" href="/projects#light">
      {{ title }}
    </a>
  </h2>
  <p>January 19, 2022</p>
  <p>Everyone loves LEDs, right? But who likes getting up to get the remote to change them? This was the
    dilemma I faced in the Lounge at Computer Science House. In standard computer-geek fashion, I chose to fix
    it with a webiste. This project uses a Raspberry Pi, Flask Website, and WebSockets to control WS28xx
    lights. The website is hosted on an OKD cluster, and uses the websockets to control the Pis running a
    systemd service to run the lights. The proof of concept was done with 3 feet of lights, and I hope to add
    it to the actual lounge in much larger scale soon!</p>
</div>