---
title: Proxmox VNC Proxy Development
description: Chom
date: 2022-08-15
---
<div>
  <h2>
    <a class="nav-link" href="https://www.linkedin.com/posts/jabbate19_chown-targets-by-willnilges-pull-request-activity-6953747079085125632-MPKY?utm_source=share&utm_medium=member_desktop" target="_blank" style="color: black;">{{ title }} <i class="bi bi-linkedin" style="color: #007bff;"></i></a>
  </h2>
  <p>July 15, 2022</p>
  <p>This summer, I have been spending my time off finding projects and repositories to work on and contribute
    to. A recent major development I was able to make with Will Nilges was with Proxstar, Computer Science
    House's service for creating, modifying, and controlling Virtual Machines through Proxmox. Due to API
    changes in Proxmox updates, the previous method of creating console instances was no longer working.</p>
  <p>After many hours of researching and exploring Proxmox and noVNC, we managed to come up with a solution to
    restore this feature (In a more simplistic manner than the previous one!) Using noVNC and its
    TCP-to-Websocket Proxy, users now can securely connect to their Virtual Machines without any extra hastle.
  </p>
</div>