---
title: New TA Position!
description: Chom
date: 2022-01-10
---
<div>
  <a class="text-dark" href="/about">
    <h2>{{ title }}</h2>
  </a>
  <p>January 10, 2022</p>
  <p>As a tutor for most of my High School career, I had an interest in becoming a Teaching Assistant at RIT.
    I had expected this opportunity to appear my second or third year, but I was given the chance late last
    semester. I am now the Teaching Assistant for CSEC-140 (Introduction to Cybersecurity), which gives me the
    opportunity to spread what I know in the field to others. Assuming all goes well, I hope to stay in this
    position next year as well for the new freshmen.</p>
</div>