---
title: UB Lockdown Experience
description: Chom
date: 2022-04-30
---
<div>
  <h2>
    <a class="text-dark" href="https://lockdown.ubnetdef.org/">
      {{ title }}
    </a>
  </h2>
  <p>April 30, 2022</p>
  <p>I competed in my first Cybersecurity competition today at the Universty of Buffalo with many friends from
    RIT. This was a blue team competition, so we spent all day defending a variety of systems from different
    attacks by the red team. As the Linux-focused member of our team, I had many systems to monitor and solve
    problems that were stopping our services. We managed to place third for the day, and I gained a lot of
    knowledge on things that I want to automate for the next competition!</p>
</div>